
.heart{
   display: flex;
   flex-direction: column;
   margin-left: 400px;
   margin-top: 50px;
}
.heart img{
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 50%;
}
.heart_top{
display: flex;
gap: 400px;
margin-top: 10px;
}
.heart_main{
 margin-left: 280px;
 margin-top: 0px;
}
.heart_middle{
display: flex;
gap: 200px;
margin-left: 100px;
margin-top: 100px;
}
.mmm {
   display: flex;
   flex-direction: column;
}

.what {
   margin-left: 100px;
   margin-top: 50px;
   font-size: 50px;
   font-weight: bold;
   color: #db4c40;
}

.iii17 {
   margin-left: 150px;
   margin-top: 100px;
   width: 700px;
   height: 550px;
}

.ii {
   border-radius: 20px;
   width: 500px;
   height: 300px;
}

.j {
   display: flex;
}

.h9 {
   font-family: 'Times New Roman', Times, serif;
   font-size: 40px;
   text-align: center;
   margin-top: 80px;
   margin-bottom: 15px;
   color: #0d00a4;
}

.p6 {
   font-size: 20px;
   width: 600px;
   height: 500px;
   margin-left: 10px;
   margin-top: 0px;
   color: black;
}

.bu5 {
   text-align: center;
   opacity: 1;
   margin-top: -300px;
}

.but5 {
   margin-top: 0px;
   text-decoration: none;
   padding: 15px 30px;
   font-size: 20px;
   font-weight: 600;
   color: #ff0a54;
   border: none;
   border-radius: 20px;
   background: linear-gradient(270deg, #e0fbfc, #ffcbf2);
   cursor: pointer;
   margin-left: 25px;
   width: 300px;
   transition: 1s all ease;
   transition-duration: 0.8s;
}

.but5:hover {
   color: #136f63;
   background: linear-gradient(270deg, #ffdab9, #d7e3fc);
   font-size: 22px;
}

.ii {
   animation: pulse 8s infinite;
}

@keyframes pulse {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.5);
   }

   100% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.5);
   }

   0% {
      transform: scale(1);
   }
}

@media (max-width:768px) {
   .xx {
      font-size: 20px;
      width: 95%;
      margin-left: 12px;
      margin-top: 40px;
      color: black;
   }

   .p1 {
      font-size: 18px;
      font-weight: 600;
      margin-left: 4px;
      position: relative;
   }

   .p2 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 30px;
      margin-left: 60px;
      position: relative;

   }

   .p3 {
      font-size: 17px;
      font-weight: 600;
      margin-left: 110px;
      position: relative;
   }

   .what {
      margin-left: 55px;
      margin-top: 50px;
      font-size: 30px;
      font-weight: bold;
   }

   .iii17 {
      margin-left: 30px;
      margin-top: 50px;
      width: 230px;
      height: 250px;
   }

   .ii {
      border-radius: 15px;
      width: 170px;
      height: 150px;
      z-index: 1;
      position: relative;
   }

   .h9 {
      font-size: 20px;
      margin-top: 50px;
      z-index: 12;
      position: relative;
   }

   .p6 {
      display: none;
   }

   .bu5 {
      margin-top: -5px;
   }

   .but5 {
      margin-top: 10px;
      padding: 8px 15px;
      font-size: 15px;
      margin-left: 0px;
      width: 100px;
   }

   .ii {
      animation: pulse 8s infinite;
   }

   @keyframes pulse {
      0% {
         transform: scale(1);
      }

      50% {
         transform: scale(1.355);
      }

      100% {
         transform: scale(1);
      }

      50% {
         transform: scale(1.355);
      }

      0% {
         transform: scale(1);
      }
   }
}

@media (max-width:480px) {
   .heart{
      display: flex;
      flex-direction: column;
      margin-left: 9%;
      margin-top: 50px;
   }
   .heart img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
   }
   .heart_top{
   display: flex;
   gap:28%;
   margin-top: 10px;
   }
   .heart_main{
    margin-left:32%;
    margin-top: 0px;
   }
   .heart_middle{
   display: flex;
   gap: 18%;
   margin-left: 5%;
   margin-top: 50px;
   }   
   .what {
      margin-left: 50px;
      margin-top: 50px;
      font-size: 30px;
      font-weight: bold;
   }

   .iii17 {
      margin-left: 30px;
      margin-top: 50px;
      width: 230px;
      height: 250px;
   }

   .ii {
      border-radius: 15px;
      width: 170px;
      height: 150px;
      z-index: 1;
      position: relative;
   }

   .h9 {
      font-size: 20px;
      margin-top: 50px;
      z-index: 12;
      position: relative;
   }

   .p6 {
      display: none;
   }

   .bu5 {
      margin-top: -5px;
   }

   .but5 {
      margin-top: 10px;
      padding: 8px 15px;
      font-size: 15px;
      margin-left: 0px;
      width: 100px;
   }

   .ii {
      animation: pulse 8s infinite;
   }

   @keyframes pulse {
      0% {
         transform: scale(1);
      }

      50% {
         transform: scale(1.355);
      }

      100% {
         transform: scale(1);
      }

      50% {
         transform: scale(1.355);
      }

      0% {
         transform: scale(1);
      }
   }
}