 .hole{
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
 }
.sh {
    display: flex;
}
.dd {
    margin-left: 70px;
    margin-top: 150px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.d8 {
    margin-top: 20px;
    width: 500px;
    margin-left: 150px;
    font-size: 20px;
}
.c4 {
    margin-top: 120px;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border: 20px solid white;
    border-radius: 50px;
    margin-left: 50px;
}

.trad5 {
    width: 600px;
    height: 100%;
    object-fit: cover;
}

.ma4 {
    width: 100%;
    display: flex;
    animation: change 15s infinite;
}
@keyframes change {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}


.info100{
    display: flex;
    margin-top: 80px;
}
.info10{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 500px;
}
.resinfo{
  display: flex;
}
.ib2 {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}
.info5 {
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
}
.info6 {
    display: flex;
    margin-left: 80px;
    margin-bottom: 30px;
}
.info7 {
    display: flex;
    margin-left: 130px;
    margin-bottom: 30px;
}
.info8 {
    display: flex;
    margin-left: 180px;
    margin-bottom: 30px;
}
.info9 {
    display: flex;
    margin-left: 230px;
    margin-bottom: 30px;
}
.ib3{
    font-size: 18px;
    font-weight: 700;
    margin-top: 8px;
    margin-left: 10px;
}
.info10b{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.ib2b {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}
.info5b {
    display: flex;
    margin-left: 230px;
    margin-bottom: 30px;
}
.info6b {
    display: flex;
    margin-left: 180px;
    margin-bottom: 30px;
}
.info7b {
    display: flex;
    margin-left: 130px;
    margin-bottom: 30px;
}
.info8b {
    display: flex;
    margin-left: 80px;
    margin-bottom: 30px;
}
.info9b {
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
}
.ib3b{
    font-size: 18px;
    font-weight: 900;
    margin-top: 8px;
    margin-left: 10px;
}
.info11x{
 width: 300px;
 margin-top: 50px;
}
.p9{
    font-size: 20px;
    font-weight: 700;
    margin-left: 150px;
}
.b9{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 150px;
    margin-bottom: 0px;
    width: 300px;
}
.bu9{
    text-align: center;
    opacity: 1;
  }

  .but9{
    text-align: center;
    margin-top: 50px;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 22px;
    font-weight: 700;
    color: #f1bb0c;
    border: none;
    border-radius: 20px;
    background:linear-gradient(270deg,#3f6061,#5d3352);
    cursor: pointer;
    margin-left: 170px;
    width: 200px;
    transition: 1s all ease;
    transition-duration: 0.8s;
  }
  .but9:hover{
    color:#0af1d3;
    background:linear-gradient(270deg,#375965 , #9b88ae);
    font-size: 25px;
  }
  @media(max-width:480px)
  {
    .sh {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .dd {
        margin-left: 10px;
        margin-top: 50px;
        font-size: 30px;
        font-weight: 500;
    }
    
    .d8 {
        margin-top: 20px;
        width: 300px;
        margin-left: 10px;
        font-size: 20px;
        display: none;
    }
    .c4 {
        margin-top: 40px;
        width: 350px;
        height: 236px;
        overflow: hidden;
        border: 5px solid lightgrey;
        border-radius: 50px;
        margin-left: 5px;
    }
    
    .trad5 {
        width:350px;
        height: 100%;
        object-fit: fill;
    }
    
    .ma4 {
        width: 100%;
        display: flex;
    }
    .info100{
        display: flex;
        margin-top: 80px;
        flex-direction: column;
    }
    .resinfo{
        display: flex;
        flex-direction: row;
      }
    .info10{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 50%;
    }
    .resinfo{
  display: flex;
}
    .ib2 {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 5px;
    }
    .info5 {
        display: flex;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .info6 {
        display: flex;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .info7 {
        display: flex;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .info8 {
        display: flex;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .info9 {
        display: flex;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .ib3{
        font-size: 18px;
        font-weight: 700;
        margin-top: 8px;
        margin-left: 10px;
    }
    .info10b{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        width: 50%;
    }
    .ib2b {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 5px;
    }
    .info5b {
        display: flex;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .info6b {
        display: flex;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .info7b {
        display: flex;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .info8b {
        display: flex;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .info9b {
        display: flex;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .ib3b{
        margin-top: 8px;
        margin-left: 10px;
    }
    .info11x{
     width: 300px;
     margin-top: 50px;
    }
    .p9{
        margin-left: 10px;
    }
    .b9{
        margin-top: 15px;
        font-weight: 800;
        margin-left: 30px;
    }
      .but9{
        margin-top: 30px;
        margin-left: 75px;
        width: 200px;
      }
   

  }
