.xxx {
    height: 1850px;
    width: 100%;
}

.hea {
    text-align: center;
    margin-top: 20px;
}

.hea h1 {
    color: #16697a;
    font-size: 60px;
    font-weight: 800;
}

.pri {
    display: flex;
    margin-top: 15px;
    color: #ff477e;
    font-size: 30px;
    justify-content: flex-end;
    margin-right: 400px;
}

.hh {
    text-align: center;
    margin-right: 60px;
}

.de1 {
    display: flex;
    margin-top: 60px;
}

.cont {
    width: 600px;
    height: 400px;
    /* position: absolute; */
    overflow: hidden;
    border: 20px solid white;
    border-radius: 50px;
    margin-left: 50px;
}

.trad {
    width: 600px;
    height: 100%;
    object-fit: fill;
}

.trad img {
    width: 600px;
    height: 100%;
    object-fit: cover;
}

.ma {
    width: 100%;
    display: flex;
    animation: change 15s infinite;
}

@keyframes change {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.det {
    text-align: center;
    margin-left: 150px;
}

.h {
    font-size: 50px;
}

.ro {
    /* width: 500px; */
    display: flex;
    justify-content: space-evenly;
}
.de2{
    display: flex;
    flex-direction: row-reverse;
}
.co {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
}

.hh1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.fir {
    margin-bottom: 10px;
}

.hhhh {
    font-size: 20px;
}

.ppp {
    font-size: 18px;
    font-weight: 800;
}

.ex {
    width: 550px;
    margin-left: 800px;
    margin-top: -100px;
    border: 1px solid rosybrown;
}


.we {
    margin-top: 150px;
}

.hh2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 900;
}

.hhh {
    font-size: 25px;
    margin-left: 80px;
    margin-bottom: 10px;
}

.ult {
    width: 650px;
    margin-left: 80px;
    font-size: 18px;
}

.butt {
    text-align: center;
    opacity: 1;
}

.buttt {
    margin-top: 5px;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    color: #ff0a54;
    border: none;
    border-radius: 20px;
    background: linear-gradient(270deg, #e0fbfc, #ffcbf2);
    cursor: pointer;
    margin-left: 25px;
    width: 300px;
    transition: 1s all ease;
    transition-duration: 0.8s;
}

.buttt:hover {
    color: #136f63;
    background: linear-gradient(270deg, #ffdab9, #d7e3fc);
    font-size: 22px;
}

.album {
    margin-top: 50px;
    margin-left: 200px;
    width: 600px;
    height: 600px;
    border-radius: 30px;

}

.album img {
    width: 100%;
    height: 500px;
    border-radius: 30px;
    transition: 1s all ease;
    transition-duration: 0.8s;
}

.album img:hover {
    box-shadow: 2px 2px 15px 2px #F08080;
    transform: translateY(-15px);
}

.alp {
    font-size: 30px;
    margin-left: 180px;
}

.note {
    margin-left: 850px;
    margin-top: -500px;
    color:#2a9d8f ;
}

.h5 {
    font-size: 30px;
    font-weight: 500;
}

.ter {
    margin-left: 850px;
    margin-top: -350px;
    width: 650px;
}

.ter h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

.ter li {
    margin-top: 15px;
}

.butt2 {
    text-align: center;
    opacity: 1;
}

.buttt2 {
    text-align: center;
    margin-top: 510px;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 32px;
    font-weight: 600;
    color: #f1bb0c;
    border: none;
    border-radius: 20px;
    background: linear-gradient(270deg, #3f6061, #5d3352);
    cursor: pointer;
    margin-left: 600px;
    width: 300px;
    transition: 1s all ease;
    transition-duration: 0.8s;
}

.buttt2:hover {
    color: #0af1d3;
    background: linear-gradient(270deg, #375965, #9b88ae);
    font-size: 34px;
}

.tea {
    margin-left: 300px;
    margin-top: -150px;
    font-size: 25px;
    margin-bottom: 0px;
}

@media (max-width:480px) {
    .xxx {
        height:2600px;
        width: 100%;
    }
    
    .hea h1 {
        font-size: 45px;
    }
    .pri {
        color:white;
        font-size: 30px;
        margin-right: 10px;
    }
    .hh {
        margin-right: 40px;
    }
    .de1 {
        display: flex;
        margin-top: 60px;
        flex-direction: column;
    }
    .ex {
        width: 350px;
        margin-left:55px;
        margin-top: 0px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .hhhh {
        font-size: 20px;
        font-weight: 800;
    }

    .ppp {
        font-size: 18px;
        font-weight: 600;
    }
    .de2{
        display: flex;
        flex-direction:column;
    }
    .cont {
        width: 340px;
        height: 230px;
        border: 10px solid pink;
        border-radius: 30px;
        margin-left: 10px;
    }

    .trad {
        width: 300px;
    }

    .trad img {
        width: 300px; 
    }
    .det {
        text-align: center;
        margin-left: 50px;
    }

    .h {
        margin-left: -50px;
        font-size: 28px;
    }
    .co {
        margin-left: -50px;
    }

    .hh1 {
        font-size: 22px;
    }

    .fir {
        margin-bottom: 10px;
    }
    .we {
        margin-top: 50px;
    }

    .hh2 {
        font-size: 25px;
        margin-bottom: 8px;
        margin-left: 50px;
        font-weight: 700;
    }

    .hhh {
        font-size: 18px;
        margin-left: 60px;
        margin-bottom: 10px;
        color: #fca311;
    }

    .ult {
        width: 250px;
        margin-left: 70px;
        font-size: 15px;
    }
    .ult li {
        list-style:disc;
    }
    .album {
        margin-top: 50px;
        margin-left: 50px;
        width: 200px;
        height: 250px;
    }

    .album img {
        width: 100%;
        height: 150px;
        border-radius: 20px;
        margin-left: 26px;
    }
    .alp {
        font-size: 20px;
        margin-left:65px;
    }

    .note {
        margin-left: 30px;
        margin-top: 15px;
        color:#2a9d8f ;
    }

    .h5 {
        font-size: 20px;
        font-weight: 500;
    }
    .ter {
        margin-left: 50px;
        margin-top: 0px;
        width: 250px;
    }

    .ter h1 {
        font-size: 22px;
        margin-left: 0px;
        font-weight: 800;
        margin-bottom: 15px;
    }
    .ter li {
        margin-left: 0px;
        margin-top: 15px;
        list-style:disc;
    }
.buttt {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 40px;
    width: 150px;
    transition: 1s all ease;
    transition-duration: 0.8s;
}

.buttt:hover {
    color: #136f63;
    background: linear-gradient(270deg, #ffdab9, #d7e3fc);
    font-size: 16px;
}
    .buttt2 {
        margin-top: 130px;
        padding: 10px 20px;
        font-size: 22px;
        margin-left: 100px;
        width: 150px;
    }

    .tea {
        margin-left: 15px;
        margin-top: -130px;
        font-size: 21px;
        margin-bottom: 0px;
        color:#d5bdaf;
    }
}