body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   /* background: linear-gradient(rgb(152, 78, 78), rgb(70, 70, 164));  */

}

.head {
  text-align: center;
  font-size: 80px;
  color: #05668d;
  font-weight: 700;
  text-shadow: 2px 5px 5px #fae0e4;
}

.space {
  height: 30px;
}

.con {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 90px;
}

.mai {
  margin-top: 50px;
  width: 415px;
  height: 470px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 15px;
  background-color: white;
  border-radius: 20px;
}

.imga {
  width: 350px;
  height: 325px;
  object-fit: cover;
  border-radius: 30px;
  margin-left: 25px;
  border: 2px solid #F08080;
  transform: translateY(-50px);
  box-shadow: 2px 2px 15px 2px #226f54;
  transition: 1s all ease;
  transition-duration: 0.8s;
}

.info {
  display: flex;
  justify-content: space-around;
}

.imga:hover {
  box-shadow: 2px 2px 15px 2px #F08080;
  width: 360px;
  height: 335px;
  margin-left: 20px;
  transform: translateY(-45px);
}

.na {
  margin-top: 5px;
  margin-left: -10px;
  font-size: 30px;
  font-weight: 700;
  transform: translateY(-50px);
  color: black;
  text-shadow: 2px 5px 5px rgba(231, 128, 128, 0.5);
}

.pr {
  margin-top: 0;
  margin-left: -10px;
  font-size: 30px;
  font-weight: 700;
  transform: translateY(-50px);
  color: black;
  text-shadow: 2px 3px 3px rgba(0, 180, 216, 0.5);
}

.ra {
  font-size: 13px;
  font-weight: 800;
  color: black;
}

.par {
  margin-top: 5px;
  margin-left: 10px;
  width: 380px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  transform: translateY(-50px);
  text-shadow: 2px 3px 3px rgba(157, 78, 221, 0.5);
  color: black;
}

.albu {
  text-align: center;
  opacity: 1;
  transform: translateY(10px);
}

.albut {
  text-align: center;
  margin-top: 10px;
  align-items: center;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  color: #183446;
  border: none;
  border-radius: 20px;
  background: linear-gradient(270deg, #97dffc, #613dc1);
  cursor: pointer;
  margin-left: 10px;
  width: 200px;
  transition: 1s all ease;
  transition-duration: 0.8s;
}

.albut:hover {
  color: #136f63;
  background: linear-gradient(270deg, #ffdab9, #d7e3fc);
  font-size: 22px;
}
.bu {
  text-align: center;
  opacity: 1;
  transform: translateY(-50px);
}

.but {
  text-align: center;
  margin-top: 10px;
  align-items: center;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  color: #29bf12;
  border: none;
  border-radius: 20px;
  background: linear-gradient(180deg, #9ad1d4, #fff8d6);
  cursor: pointer;
  margin-left: 10px;
  width: 200px;
  transition: 1s all ease;
  transition-duration: 0.8s;
}

.but:hover {
  color: #136f63;
  background: linear-gradient(270deg, #ffdab9, #d7e3fc);
  font-size: 22px;
}


/* our works */
.heading {
  margin-top: -30px;
  text-align: center;
  color: #a53860;
  font-size: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner {
  width: 100%;
  height: 50vh;
  /* overflow: hidden; */
  text-align: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner .slider {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 700px;
  transform-style: preserve-3d;
  transform: perspective(100px);
  animation: autoRun 70s linear infinite;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateY(0deg);
  }

  to {
    transform: perspective(1000px) rotateY(360deg);
  }

}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * 360deg / var(--quantity))) translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 1s all ease;
}

/* album */
.he {
  margin-top: -30px;
  text-align: center;
  color: #a53860;
  font-size: 70px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  background: linear-gradient(270deg, #427aa1,#ebf2fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.albums2 {
  display: flex;
  justify-content: space-evenly;
}

.album2 {
  margin-top: 50px;
  width: 500px;
  height: 500px;
  border-radius: 30px;
}

.album2 img {
  width: 500px;
  height: 400px;
  border-radius: 30px;
  transition: 1s all ease;
  transition-duration: 0.8s;
}

.album2 img:hover {
  box-shadow: 2px 2px 15px 2px #F08080;
  height: 402px;
  width: 502px;
}

.album2 .bu {
  margin-top: 55px;
}

@media (max-width: 768px) 
{
    .head {
      font-size: 32px;
    }
    
    .space {
      height: 22px;
    }
    
    .con {
      margin-top: 42px;
      gap: 62px;
    }
    
    .mai {
      margin-top: 32px;
      width: 335px;
      height: 400px;
      margin-left: 4px;
      padding: 10px 12px;
      border-radius: 15px;
    }
    
    .imga {
      width: 300px;
      height: 250px;
      border-radius: 15px;
      margin-left: 15px;
      transform: translateY(-35px);
      transition: 1s all ease;
      transition-duration: 0.8s;
    }
      
    .imga:hover {
      box-shadow: 2px 2px 10px 2px #F08080;
      width: 325px;
      height: 300px;
      margin-left: 12px;
      transform: translateY(-30px);
    }
    
    .na {
      margin-left: -9px;
      font-size: 22px;
      transform: translateY(-35px);
    }
    
    .pr {
      margin-left: -9px;
      font-size: 22px;
      transform: translateY(-35px);
    }
    
    .ra {
      font-size: 11px;
    }
    
    .par {
      margin-top: 5px;
      margin-left: 3px;
      width: 275px;
      font-size: 16px;
      transform: translateY(-35px);
    }
    
    .bu {
      transform: translateY(-35px);
    }
    
    .but {
      margin-top: 9px;
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 17px;
      margin-left: 8px;
      width: 170px;
      transition: 1s all ease;
      transition-duration: 0.8s;
    }
    
    .but:hover {
      font-size: 20px;
    }
    
    
    /* our works */
    .heading {
      margin-top: -23px;
      font-size: 55px;
    }
    
    .banner{
      height: 35vh;
    }
    
    .banner .slider {
      width: 100px;
      height: 100px;
      left: 150px;
    }
    
    .banner .slider .item {
      position: absolute;
      inset: 0 0 0 0;
      transform: rotateY(calc((var(--position) - 1) * 360deg / var(--quantity))) translateZ(200px);
    }
    
    .banner .slider .item img {
      border-radius: 10px;
    }
    
    /* album */
  
  
    .he {
      margin-top: -10px;
      font-size: 43px;
    }
  
    .albums2 {
      display: flex;
      flex-direction: column;
    }
    .album2 {
      margin-left: 25px;
      margin-top: 32px;
      width: 330px;
      height: 380px;
      border-radius: 20px;
    }
    
    .album2 img {
      width: 300px;
      height: 275px;
      border-radius: 15px;
      transition: 1s all ease;
      transition-duration: 0.8s;
    }
    
    .album2 img:hover {
      height: 280px;
      width: 340px;
    }
    
    .album2 .bu {
      margin-top: 50px;
    }
}
@media (max-width: 480px) 
{ 
  .head {
    font-size: 30px;
  }
  
  .space {
    height: 20px;
  }
  
  .con {
    margin-top: 40px;
    gap: 60px;
  }
  
  .mai {
    margin-top: 30px;
    width: 315px;
    height: 380px;
    margin-left: 2px;
    padding: 8px 12px;
    border-radius: 15px;
  }
  
  .imga {
    width: 275px;
    height: 225px;
    border-radius: 15px;
    margin-left: 15px;
    transform: translateY(-30px);
    transition: 1s all ease;
    transition-duration: 0.8s;
  }
    
  .imga:hover {
    box-shadow: 2px 2px 10px 2px #F08080;
    width: 300px;
    height: 275px;
    margin-left: 10px;
    transform: translateY(-25px);
  }
  
  .na {
    margin-left: -7px;
    font-size: 20px;
    transform: translateY(-30px);
  }
  
  .pr {
    margin-left: -7px;
    font-size: 22px;
    transform: translateY(-30px);
  }
  
  .ra {
    font-size: 10px;
  }
  
  .par {
    margin-top: 3px;
    margin-left: 2px;
    width: 250px;
    font-size: 15px;
    transform: translateY(-30px);
  }
  .bu{
    transform: translateY(-30px);

  }
  .albu {
    transform: translateY(10px);
  }
  
  .albut {
    font-size: 16px;
    margin-left: -55px;
    width: 150px;
    height: 50px;
    background: linear-gradient(270deg, #89c2d9, #e0b1cb);
    color: #7b2cbf;
    transition: 1s all ease;
    transition-duration: 0.8s;
  }
  
  .albut:hover {
    font-size: 16px;
  }
  
  
  /* our works */
  .heading {
    margin-top: -20px;
    font-size: 50px;
  }
  
  .banner{
    height: 30vh;
  }
  
  .banner .slider {
    width: 80px;
    height: 80px;
    left: 120px;
  }
  
  .banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * 360deg / var(--quantity))) translateZ(280px);
  }
  
  .banner .slider .item img {
    border-radius: 8px;
  }
  
  /* album */


  .he {
    margin-top: -10px;
    font-size: 40px;
  }

  .albums2 {
    display: flex;
    flex-direction: column;
  }
  .album2 {
    margin-left: 52px;
    margin-top: 30px;
    width: 300px;
    height: 350px;
    border-radius: 20px;
  }
  
  .album2 img {
    width: 250px;
    height: 225px;
    border-radius: 15px;
    transition: 1s all ease;
    transition-duration: 0.8s;
  }
  
  .album2 img:hover {
    height: 250px;
    width: 275px;
  }
  
  .album2 .bu {
    margin-top: 45px;
  }
}